/*1366929058,173213215*/

._4kdt #chatFriendsOnline._55to{display:block}
#chatFriendsOnline._55to{padding-bottom:0;padding-top:12px}
#chatFriendsOnline._55to .uiHeader{padding-bottom:0;padding-top:0}
._55to .uiClearableTypeahead .clear, ._55to .uiTypeaheadDisabled .selected .clear{right:14px}
._55to .uiTypeahead{width:263px}
._55to .uiTypeahead .inputtext{margin-top:1px;padding-bottom:4px}
._562v{padding-bottom:12px}

#bootloader_oFA0v { height: 42px; }