/*1366841781,178142543*/

._1g0r{opacity:.3}
._1g0r:hover{opacity:1}
._1-j{padding:2px;border:1px solid #b3b3b3;-webkit-border-radius:3px}
._1-k{width:104px;height:104px}
._1-l{margin-left:122px}
._24-{margin-top:9px}
._252{overflow:hidden;float:left;width:234px;height:32px}
._24_{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/cOUbTOfA3ug.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;position:absolute;width:234px;height:32px}
._1-o{float:left;border-width:0;margin-bottom:10px;padding:0}
._1-o:hover img{cursor:default}
._1-p{width:32px;height:32px;margin-right:1px}
._1-p:hover img{cursor:default}
._1-q{float:right;margin-top:3px}
._agk{padding-right:3px;vertical-align:-3px}
a.emoteTogglerImg .img{vertical-align:0}
._5276{display:inline-block;margin:0 5px;vertical-align:middle;width:200px}
.uiStream .storyUnconnectedPost .unconnectedPostHeader{color:#979797;margin:5px 0 -2px 60}
.uiStreamHomepage .uiStreamStory:first-child .unconnectedPostHeader{margin-top:10px}
.uiStream .storyUnconnectedPost .highlightSelector{margin-right:20px;margin-top:-2px}
.uiStream .storyUnconnectedPost .unconnectedPostText{margin:8px 0 0;max-width:395px}
.uiStream .storyUnconnectedPost .unconnectedPostHide{float:right;margin:3px 0;padding-top:2px}
.uiStream .storyUnconnectedPost .storyInnerContent{position:relative}
.uiStreamStory .videoRedesign .uiVideoThumb, .uiStreamStory .videoRedesign .uiVideoThumb img{max-height:none;max-width:none}
.uiStreamStory .videoRedesign .uiVideoThumb img{display:block}
.uiStreamStory .videoRedesign .uiVideoThumb i{left:50%;margin:-13px 0 0 -17px;top:50%}
.uiStreamStory .videoRedesign .uiVideoThumbLoading i{left:0;margin:0;top:0}
.uiStreamStory .videoRedesign .uiVideoThumb:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}

#bootloader_FYv6X { height: 42px; }